<section class="about">
    <div class="about__bg">
        <div class="about__bg-parallax">


            <picture>
                <source srcset="/images/about-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/about-bg.webp" alt="" class="about__bg-image" />
            </picture>
        </div>
    </div>
    <div class="about__content">
        <div class="about__row">
            <h2 class="about__heading">
                WMT Group
            </h2>
            <span class="about__bar"></span>
            <div class="about__text-content">
                <div class="about__secondary-heading">
                    это компания,<br> вдохновленная людьми
                </div>
                <div class="about__text">
                    Мы первая и единственная в стране IT-компания, представившая <a href="#">службу заботы</a> для
                    персонала
                </div>
            </div>
        </div>
        <ul class="about__list">
            <li class="about__list-item">
                <div class="about__card">
                    <div class="about__card-key">
                        <span class="only-desktop">
                            eNPS
                        </span>
                        >9,6
                    </div>
                    <div class="about__card-value">
                        <span class="only-desktop">
                            к нам приходит больше кандидатов по рекомендациям, чем c открытых вакансий
                        </span>
                        <span class="only-mobile">ENPS IT-магистров уровня middle+ в команде</span>
                    </div>
                </div>
            </li>
            <li class="about__list-item">
                <div class="about__card">
                    <div class="about__card-key">
                        98%
                    </div>
                    <div class="about__card-value">
                        сотрудников работают с нами >3-х лет. <span class="only-desktop">
                            Вы закончите проект с той командой, с которой начинали </span>
                    </div>
                </div>
            </li>
            <li class="about__list-item">
                <div class="about__card">
                    <div class="about__card-key">
                        80%
                    </div>
                    <div class="about__card-value">
                        команды имеют уровень middle и выше
                    </div>
                </div>
            </li>
        </ul>
        <ul class="about__team-list">
            <li class="about__team-list-item">
                <div class="about__team-card">
                    <div class="about__team-card-photo-container">
                        <img src="/images/team/1.webp" alt="" class="about__team-card-photo">
                    </div>
                    <h3 class="about__team-card-title">
                        Игорь Никитин
                    </h3>
                    <div class="about__team-card-role">
                        Founder, CEO
                    </div>
                </div>
            </li>
            <li class="about__team-list-item">
                <div class="about__team-card">
                    <div class="about__team-card-photo-container">
                        <img src="/images/team/2.webp" alt="" class="about__team-card-photo">
                    </div>
                    <h3 class="about__team-card-title">
                        Гор нахапетян
                    </h3>
                    <div class="about__team-card-role">
                        Co - founder
                    </div>
                </div>
            </li>
            <li class="about__team-list-item">
                <div class="about__team-card">
                    <div class="about__team-card-photo-container">
                        <img src="/images/team/3.webp" alt="" class="about__team-card-photo">
                    </div>
                    <h3 class="about__team-card-title">
                        Артем Сорокин
                    </h3>
                    <div class="about__team-card-role">
                        Founder, HDR
                    </div>
                </div>
            </li>
            <li class="about__team-list-item">
                <div class="about__team-card">
                    <div class="about__team-card-photo-container">
                        <img src="/images/team/4.webp" alt="" class="about__team-card-photo">
                    </div>
                    <h3 class="about__team-card-title">
                        Михаил Краснов
                    </h3>
                    <div class="about__team-card-role">
                        Managing director
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>