<section class="approach" id="products">
    <div class="approach__content">
        <div class="approach__top-row">
            <h2 class="approach__heading">
                У нас особый подход,<br> не имеющий аналогов на рынке
            </h2>
            <div class="approach__text">
                Мы убеждены, что <b>первоклассный продукт может появиться только
                    при увлеченном подходе команды
                    к его разработке.</b> Поэтому состояние и счастье команды всегда на первом месте WMT
            </div>
        </div>
        <div class="approach__slider js-approach-slider">
            <div class="swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="approach__slider-card">

                            <div class="approach__slider-card-content">
                                <h3 class="approach__slider-card-title">
                                    Усиливаем бизнес с помощью
                                    AI-продуктов авторской разработки
                                </h3>
                                <div class="approach__slider-card-text">
                                    Технологии искусственного интеллекта помогают бизнесу автоматизировать задачи,
                                    анализировать большие объемы данных и улучшают взаимодействие с клиентами, а мы
                                    знаем как их направить на пользу вашему бизнесу.
                                </div>
                            </div>
                            <div class="approach__slider-card-image-wrapper">
                                <img src="/images/approach/1.webp" alt="" class="approach__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="approach__slider-card">
                            <div class="approach__slider-card-image-wrapper">
                                <img src="/images/approach/2.webp" alt="" class="approach__slider-card-image">
                            </div>
                            <div class="approach__slider-card-content">
                                <h3 class="approach__slider-card-title">
                                    Придаем глубокий смысл
                                    и значимость персонала
                                    в экосистеме бизнеса
                                </h3>
                                <div class="approach__slider-card-text">
                                    Прививаем философию Ikigai сотрудникам
                                    и мотивируем их вкладывать душу в то, что они делают, будь то тестирование ПО или
                                    разработка приложения. Методично направляем их к своей цели, помогаем развиваться и
                                    расти.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="approach__slider-card">

                            <div class="approach__slider-card-content">
                                <h3 class="approach__slider-card-title">
                                    Придаем глубокий смысл
                                    и значимость персонала
                                    в экосистеме бизнеса
                                </h3>
                                <div class="approach__slider-card-text">
                                    Используя методику PCM, помогаем легко настраивать рабочие процессы, быстро находить
                                    общий язык между людьми и качественно принимать управленческие решения.
                                </div>
                            </div>
                            <div class="approach__slider-card-image-wrapper">
                                <img src="/images/approach/3.webp" alt="" class="approach__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="approach__slider-card">
                            <div class="approach__slider-card-image-wrapper">
                                <img src="/images/approach/4.webp" alt="" class="approach__slider-card-image">
                            </div>
                            <div class="approach__slider-card-content">
                                <h3 class="approach__slider-card-title">
                                    Делаем проекты мирового уровня для enterprise
                                    компаний и холдингов
                                </h3>
                                <div class="approach__slider-card-text">
                                    Мы — эксперты в цифровой трансформации, импортозамещении, заказной и продуктовой
                                    разработке. В первый год работы залетели в крупные корпорации от ритейла до
                                    банковского сектора
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>