<section class="approach" id="products">
    <div class="approach__content">
        <div class="approach__top-row">
            <h2 class="approach__heading">
                У нас особый подход,<br> не имеющий аналогов на рынке
            </h2>
            <div class="approach__text">
                Мы убеждены, что <b>первоклассный продукт может появиться только
                    при увлеченном подходе команды
                    к его разработке.</b> Поэтому состояние и счастье команды всегда на первом месте WMT
            </div>
        </div>
        <div class="approach__slider js-approach-slider">
            <div class="swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="approach__slider-card">

                            <div class="approach__slider-card-content">
                                <h3 class="approach__slider-card-title">
                                    Снижаем уровень конфликтов внутри команды, развиваем эмпатию и доносим понимание
                                    целей
                                </h3>
                                <div class="approach__slider-card-text">
                                    Используя методику PCM, помогаем легко настраивать рабочие процессы, быстро находить
                                    общий язык между людьми и качественно принимать управленческие решения.
                                </div>
                            </div>
                            <div class="approach__slider-card-image-wrapper">
                                <img src="/images/approach/3.webp" alt="" class="approach__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="approach__slider-card">
                            <div class="approach__slider-card-image-wrapper">
                                <img src="/images/approach/4.svg" alt="" class="approach__slider-card-image">
                            </div>
                            <div class="approach__slider-card-content">
                                <h3 class="approach__slider-card-title">
                                    Делаем проекты мирового уровня для enterprise
                                    компаний и холдингов
                                </h3>
                                <div class="approach__slider-card-text">
                                    Мы — эксперты в цифровой трансформации, импортозамещении, заказной и продуктовой
                                    разработке. В первый год работы залетели в крупные корпорации отритейла до
                                    банковского сектора
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="approach__slider-card">

                            <div class="approach__slider-card-content">
                                <h3 class="approach__slider-card-title">
                                    Снижаем уровень конфликтов внутри команды, развиваем эмпатию и доносим понимание
                                    целей
                                </h3>
                                <div class="approach__slider-card-text">
                                    Используя методику PCM, помогаем легко настраивать рабочие процессы, быстро находить
                                    общий язык между людьми и качественно принимать управленческие решения.
                                </div>
                            </div>
                            <div class="approach__slider-card-image-wrapper">
                                <img src="/images/approach/3.webp" alt="" class="approach__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="approach__slider-card">
                            <div class="approach__slider-card-image-wrapper">
                                <img src="/images/approach/4.svg" alt="" class="approach__slider-card-image">
                            </div>
                            <div class="approach__slider-card-content">
                                <h3 class="approach__slider-card-title">
                                    Делаем проекты мирового уровня для enterprise
                                    компаний и холдингов
                                </h3>
                                <div class="approach__slider-card-text">
                                    Мы — эксперты в цифровой трансформации, импортозамещении, заказной и продуктовой
                                    разработке. В первый год работы залетели в крупные корпорации отритейла до
                                    банковского сектора
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>