<section class="cases js-tabs" id="projects">
    <div class="cases__content">
        <h2 class="cases__small-heading">
            Кейсы
        </h2>
        <h3 class="cases__heading">
            У каждого проекта своя история, которую в одном абзаце не расскажешь, но мы постараемся
        </h3>
        <ul class="cases__categories-list">
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn active" data-text="Все кейсы">
                    <span class="cases__categories-link-text">
                        Все кейсы
                    </span>
                </a>
            </li>
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn" data-text="Банки">
                    <span class="cases__categories-link-text">
                        Банки
                    </span>
                </a>
            </li>
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn" data-text="Платежные системы и сервисы">
                    <span class="cases__categories-link-text">
                        Платежные системы и сервисы
                    </span>
                </a>
            </li>
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn" data-text="Страхование и НПФ">
                    <span class="cases__categories-link-text">
                        Страхование и НПФ
                    </span>
                </a>
            </li>
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn" data-text="Девелопмент">
                    <span class="cases__categories-link-text">
                        Девелопмент
                    </span>
                </a>
            </li>
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn" data-text="Промышленность">
                    <span class="cases__categories-link-text">
                        Промышленность
                    </span>
                </a>
            </li>
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn" data-text="Информационные технологии">
                    <span class="cases__categories-link-text">
                        Информационные технологии
                    </span>
                </a>
            </li>
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn" data-text="Продуктовая разработка">
                    <span class="cases__categories-link-text">
                        Продуктовая разработка
                    </span>
                </a>
            </li>
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn" data-text="Заказная разработка">
                    <span class="cases__categories-link-text">
                        Заказная разработка
                    </span>
                </a>
            </li>
            <li class="cases__categories-list-item">
                <a href="#" class="cases__categories-link js-tabs-btn" data-text="Торговля">
                    <span class="cases__categories-link-text">
                        Торговля
                    </span>
                </a>
            </li>
        </ul>
        <div class="cases__tabs-items">
            {{#times 10}}
                <div class="cases__tabs-item js-tabs-item">
                    <div class="cases__slider js-cases-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/1.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Теперь больше, чем просто бронь билетов
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Теперь больше, чем&nbsp;просто бронь билетов
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/2.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Время — Не барьер!
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Время — Не барьер!
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/3.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Доход в один клик
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Доход в один клик
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/4.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Время — Не барьер!
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Время — Не барьер!
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/5.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Теперь больше, чем просто бронь билетов
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Теперь больше, чем просто бронь билетов
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/6.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                смотря сквозь тепло
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                смотря сквозь тепло
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/7.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Время — Не барьер!
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Время — Не барьер!
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/4.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Автономия от импорта
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Автономия от импорта
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/8.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                сверхускорение и
                                                сверхвозможности
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                сверхускорение и
                                                сверхвозможности
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/1.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Теперь больше, чем просто бронь билетов
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Теперь больше, чем&nbsp;просто бронь билетов
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/2.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Время — Не барьер!
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Время — Не барьер!
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/3.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Доход в один клик
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Доход в один клик
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/4.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Время — Не барьер!
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Время — Не барьер!
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/5.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Теперь больше, чем просто бронь билетов
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Теперь больше, чем просто бронь билетов
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/6.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                смотря сквозь тепло
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                смотря сквозь тепло
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/7.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Время — Не барьер!
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Время — Не барьер!
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/4.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                Автономия от импорта
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                Автономия от импорта
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="cases__card">
                                        <div class="cases__card-main">
                                            <div class="cases__card-tags">
                                                <div class="cases__card-tag">
                                                    Заказная разработка
                                                </div>
                                                <div class="cases__card-tag">
                                                    Информационные технологии
                                                </div>
                                            </div>
                                            <img src="/images/cases/8.webp" alt="" class="cases__card-image">
                                            <h3 class="cases__card-title">
                                                сверхускорение и
                                                сверхвозможности
                                            </h3>
                                        </div>
                                        <div class="cases__card-popover">
                                            <img src="/images/fintech.svg" alt="" class="cases__card-inner-image">
                                            <div class="cases__card-inner-text">
                                                Запустили свой инфопортал для онлайн-сервиса бронирования билетов и
                                                увеличили конверсию брони гостиниц x2 раз
                                            </div>
                                            <div class="cases__card-inner-title">
                                                сверхускорение и
                                                сверхвозможности
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="cases__show-all">
                        <span class="cases__show-all-text">
                            Показать еще
                        </span>
                        <span class="cases__show-all-text">
                            Скрыть
                        </span>

                    </button>
                </div>
            {{/times}}
        </div>
    </div>
</section>