<section class="developers js-parallax-block">
    <div class="developers__bg">
        <div class="developers__bg-parallax-wrapper js-parallax-block-wrapper">

            <picture>
                <source srcset="/images/developers-bg-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/developers-bg.webp" alt="" class="developers__bg-image" />
            </picture>
        </div>
    </div>
    <div class="developers__content">
        <div class="developers__col">
            <h2 class="developers__heading">
                Стать частью<br> команды
            </h2>
            <a href="#" class="developers__friend">
                <span>Мы знаем ты<br> приведешь</span> <em>друга</em>
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#diagonal-arrow"></use>
                </svg>

            </a>
        </div>
        <div class="developers__col">
            <h3 class="developers__secondary-heading">
                Наши разработчики —<br> наши звезды
            </h3>
            <ul class="developers__list">
                <li class="developers__list-item">
                    <a href="#" class="developers__card">
                        <h4 class="developers__card-title">
                            DevOps-инженер (Middle/Senior)
                        </h4>
                        <div class="developers__card-btn">
                            <span class="developers__card-btn-text">
                                Откликнуться
                            </span>
                            <div class="developers__card-btn-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="developers__list-item">
                    <a href="#" class="developers__card">
                        <h4 class="developers__card-title">
                            Системный аналитик
                        </h4>
                        <div class="developers__card-btn">
                            <span class="developers__card-btn-text">
                                Откликнуться
                            </span>
                            <div class="developers__card-btn-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="developers__list-item">
                    <a href="#" class="developers__card">
                        <h4 class="developers__card-title">
                            Тим лид - Архитектор
                        </h4>
                        <div class="developers__card-btn">
                            <span class="developers__card-btn-text">
                                Откликнуться
                            </span>

                            <div class="developers__card-btn-icon">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#diagonal-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>