<section class="expertise" id="about">
    <div class="expertise__content">
        <h2 class="expertise__heading">
            <span class="only-desktop">
                Наши направления и экспертиза
            </span>
            <span class="only-mobile">
                Поможем вам быстрее достичь желаемого результата с помощью набора решений:
            </span>
        </h2>
        <div class="expertise__slider">
            <div class="expertise__controls">
                <div class="expertise__pagination">

                </div>
                <div class="expertise__progressbar"></div>
                <div class="expertise__arrows-wrapper">
                    <div class="expertise__slider-nav">
                        <div class="swiper">
                            <ul class="swiper-wrapper expertise__slider-nav-list">
                                <li class="swiper-slide expertise__slider-nav-list-item">
                                    <a href="#" class="expertise__slider-nav-link active">
                                        <div class="expertise__slider-nav-link-text"
                                            data-text="Обновляем бизнес путем цифровизации">
                                            Обновляем бизнес путем цифровизации
                                        </div>
                                        <div class="expertise__slider-nav-link-icon"></div>
                                    </a>
                                </li>
                                <li class="swiper-slide expertise__slider-nav-list-item">
                                    <a href="#" class="expertise__slider-nav-link">
                                        <div class="expertise__slider-nav-link-text"
                                            data-text="Разрабатываем и запускаем IT-продукты">
                                            Разрабатываем и запускаем
                                            IT-продукты
                                        </div>
                                        <div class="expertise__slider-nav-link-icon"></div>
                                    </a>
                                </li>
                                <li class="swiper-slide expertise__slider-nav-list-item">
                                    <a href="#" class="expertise__slider-nav-link">
                                        <div class="expertise__slider-nav-link-text"
                                            data-text="Внедряем ML / AI / RPA для бизнеса">
                                            Внедряем ML / AI / RPA для бизнеса
                                        </div>
                                        <div class="expertise__slider-nav-link-icon"></div>
                                    </a>
                                </li>
                                <li class="swiper-slide expertise__slider-nav-list-item">
                                    <a href="#" class="expertise__slider-nav-link">
                                        <div class="expertise__slider-nav-link-text"
                                            data-text="Аудируем, консультируем и пишем стратегии">
                                            Аудируем, консультируем и пишем стратегии
                                        </div>
                                        <div class="expertise__slider-nav-link-icon"></div>
                                    </a>
                                </li>
                                <li class="swiper-slide expertise__slider-nav-list-item">
                                    <a href="#" class="expertise__slider-nav-link">
                                        <div class="expertise__slider-nav-link-text"
                                            data-text="Усиливаем текущие команды">
                                            Усиливаем текущие команды
                                        </div>
                                        <div class="expertise__slider-nav-link-icon"></div>
                                    </a>
                                </li>
                                <li class="swiper-slide expertise__slider-nav-list-item">
                                    <a href="#" class="expertise__slider-nav-link">
                                        <div class="expertise__slider-nav-link-text"
                                            data-text="Переходим к импортнезависмому ПО">
                                            Переходим к импортнезависмому ПО
                                        </div>
                                        <div class="expertise__slider-nav-link-icon"></div>
                                    </a>
                                </li>
                                <li class="swiper-slide expertise__slider-nav-list-item">
                                    <a href="#" class="expertise__slider-nav-link">
                                        <div class="expertise__slider-nav-link-text"
                                            data-text="Свои продукты в AI b HR Tech">
                                            Свои продукты в AI b HR Tech
                                        </div>
                                        <div class="expertise__slider-nav-link-icon"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="expertise__arrows">
                        <button class="expertise__arrow expertise__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="expertise__arrow expertise__arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="expertise__slider-content">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-left">
                                    <h3 class="expertise__slider-card-title">
                                        Цифровая трансформация бизнеса
                                    </h3>
                                    <div class="expertise__slider-card-features">
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                Проводим с клиентом аудит системы и разрабатываем альтернативные
                                                решения.
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Обновляем существующие системы: реинжиниринг, миграция и перенос
                                                устаревших приложений на новую платформу
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Используем аналитику больших данных и методов машинного обучения для
                                                поддержки принятия управленческих решений, особенно в области управления
                                                рисками
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Применяем технологии Интернета вещей (IoT), создаем цифровых двойников и
                                                используем блокчейн
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="expertise__slider-card-numbers">
                                        <ul class="expertise__slider-card-numbers-list">
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        160+
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        проведено цифровых трансформаций бизнеов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        95%
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        эффективность использования ресурсов
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="expertise__slider-card-right">
                                    <div class="expertise__slider-card-illustration">
                                        <img src="/images/expertise/1.svg" alt=""
                                            class="expertise__slider-card-illustration-image">
                                    </div>
                                    <a href="#callback-modal" class="expertise__card-btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-left">
                                    <h3 class="expertise__slider-card-title">
                                        Продуктовая и заказная разработка
                                    </h3>
                                    <div class="expertise__slider-card-features">
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                Проводим глубинные исследования и тестируем гипотезы
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Создаем и выводим продукты на рынок
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Мобильные приложения, веб-платформы, программное обеспечение — мы
                                                владеем любой технологией, чтобы реализовать ваше видение.
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="expertise__slider-card-numbers">
                                        <ul class="expertise__slider-card-numbers-list">
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        250+
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        разработанных продуктов для корпораций-гигантов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        80%
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        клиентов остаются с нами после дебютного проекта
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="expertise__slider-card-right">
                                    <div class="expertise__slider-card-illustration">
                                        <img src="/images/expertise/2.svg" alt=""
                                            class="expertise__slider-card-illustration-image">
                                    </div>
                                    <a href="#callback-modal" class="expertise__card-btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-left">
                                    <h3 class="expertise__slider-card-title">
                                        Разработка решений в сфере ML / AI / RPA
                                    </h3>
                                    <div class="expertise__slider-card-features">
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                Исследуем данные и выявляем основные факторы, способствующие росту
                                                бизнеса (Data Science)
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Прогнозируем будущее развитие событий, используя как традиционные
                                                методы, так и нейронные сети
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Обрабатываем естественный язык, включая перевод речи в текст и текста в
                                                речь (NLP)
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Предоставляем консультации по новейшим технологиям и обучение
                                            </li>
                                        </ul>
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                Группируем объекты и анализируем данные
                                                для обнаружения взаимосвязей
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Обнаруживаем и идентифицируем объекты
                                                на изображениях и видеоматериалах
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Создаем и управляем автоматизированными процессами для обработки данных
                                                и прогнозирования, в том числе с использованием облачных сервисов
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="expertise__slider-card-numbers">
                                        <ul class="expertise__slider-card-numbers-list">
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        80+
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        AI-продуктов разработали
                                                        для наших клиентов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        12
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        экспертов в AI-разработке
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="expertise__slider-card-right">
                                    <div class="expertise__slider-card-illustration">
                                        <img src="/images/expertise/2.svg" alt=""
                                            class="expertise__slider-card-illustration-image">
                                    </div>
                                    <a href="#callback-modal" class="expertise__card-btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-left">
                                    <h3 class="expertise__slider-card-title">
                                        Аудит и консалтинг проектов
                                    </h3>
                                    <div class="expertise__slider-card-features">
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                Анализируем состояние вашего персонала, оцениваем уровень их
                                                вовлеченности и риска эмоционального выгорания.
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Содействуем оптимизации рабочих процессов внутри организации.
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Работаем над развитием эмпатии между сотрудниками и снижением конфликтов
                                                в коллективе.
                                            </li>

                                        </ul>
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                Предоставляем методики для эффективного установления взаимопонимания
                                                между сотрудниками и принятия качественных управленческих решений.
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Обучаем вас навыкам самостоятельного формирования команд, уделяя
                                                внимание Soft Skills,
                                                и способствуем улучшению комфорта в коллективе.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="expertise__slider-card-numbers">
                                        <ul class="expertise__slider-card-numbers-list">
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        80+
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        реализованных успешных проектов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        36%
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        клиентов продолжаем
                                                        сопровождать и консультировать
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="expertise__slider-card-right">
                                    <div class="expertise__slider-card-illustration">
                                        <img src="/images/expertise/4.svg" alt=""
                                            class="expertise__slider-card-illustration-image">
                                    </div>
                                    <a href="#callback-modal" class="expertise__card-btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-left">
                                    <h3 class="expertise__slider-card-title">
                                        Усиление текущих команд разработки
                                    </h3>
                                    <div class="expertise__slider-card-features">
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                Формируем сильные команды под потребности заказчика
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Дополняем команду заказчика профильными специалистами для решения
                                                индивидуальных задач любой сложности
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Гарантируем использование лучших практик инструментов
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Развиваем Soft Skills согласно методологии ACM/PCM.
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="expertise__slider-card-numbers">
                                        <ul class="expertise__slider-card-numbers-list">
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        6
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        дней на поиск и отбор
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        250
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        сотрудников уже открыты к новым вакансиям
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="expertise__slider-card-right">
                                    <div class="expertise__slider-card-illustration">
                                        <img src="/images/expertise/4.svg" alt=""
                                            class="expertise__slider-card-illustration-image">
                                    </div>
                                    <a href="#callback-modal" class="expertise__card-btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-left">
                                    <h3 class="expertise__slider-card-title">
                                        Импортозамещение западного ПО
                                    </h3>
                                    <div class="expertise__slider-card-features">
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                Проверка и поддержка действующих информационных систем
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Оценка перспектив использования ПО, не зависящего от импорта, и помощь в
                                                выборе соответствующих решений
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Разработка стратегии и полная поддержка перехода на новое ПО
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Создание проектов, использующих технологии с открытым исходным кодом
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                Миграция данных на PostgreSQL
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="expertise__slider-card-numbers">
                                        <ul class="expertise__slider-card-numbers-list">
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        40+
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        проектов, работающих на отечественном ПО
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        15
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        систем авторского производства
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="expertise__slider-card-right">
                                    <div class="expertise__slider-card-illustration">
                                        <img src="/images/expertise/5.svg" alt=""
                                            class="expertise__slider-card-illustration-image">
                                    </div>
                                    <a href="#callback-modal" class="expertise__card-btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="expertise__slider-card">
                                <div class="expertise__slider-card-left">
                                    <h3 class="expertise__slider-card-title">
                                        Собственные AI-продукты
                                        для анализа и управления коммуникациями в команде
                                    </h3>
                                    <div class="expertise__slider-card-features">
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                <b>AC CHAT:</b> анализирует стиль речи у сотрудников и клиентов.
                                                Генерирует простые фразы для общения в единой плоскости и доверительной
                                                атмосфере, что исключает конфликты и недопонимания между людьми.
                                            </li>
                                            <li class="expertise__slider-card-features-list-item">
                                                <b>AC HRM:</b> Выявляет источники стресса в команде, оценивает мотивацию
                                                и
                                                взаимопонимание внутри неё. Анализирует влияние полученных данных на
                                                коммерческие показатели бизнеса.
                                            </li>
                                        </ul>
                                        <ul class="expertise__slider-card-features-list">
                                            <li class="expertise__slider-card-features-list-item">
                                                <b>AC BOT:</b> Продает и делает допродажи, подбирая релевантный оффер
                                                под
                                                запросы клиента. Ускоряет работу поддержки благодаря естественным и
                                                эмоциональным ответам бота.
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="expertise__slider-card-numbers">
                                        <ul class="expertise__slider-card-numbers-list">
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        50+
                                                    </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        специалистов выделяем по смартстаффингу
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="expertise__slider-card-numbers-list-item">
                                                <div class="expertise__slider-card-numbers-card">
                                                    <div class="expertise__slider-card-numbers-amount">
                                                        2% </div>
                                                    <div class="expertise__slider-card-numbers-text">
                                                        систем авторского производства
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="expertise__slider-card-right">
                                    <div class="expertise__slider-card-illustration">
                                        <img src="/images/expertise/6.svg" alt=""
                                            class="expertise__slider-card-illustration-image">
                                    </div>
                                    <a href="#callback-modal" class="expertise__card-btn">
                                        Оставить заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>