<header class="page-header">
    <div class="page-header__content">
        <a href="/" class="page-header__logo">
            <img src="/images/logo.webp" alt="" class="page-header__logo-image">
            <img src="/images/logo-gradient.webp" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <div class="page-header__menu-inner">




                <div class="page-header__nav">
                    <ul class="page-header__nav-list">
                        <li class="page-header__nav-list-item">
                            <a href="#about" class="page-header__nav-link">
                                О нас
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#projects" class="page-header__nav-link">
                                Проекты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#services" class="page-header__nav-link">
                                Услуги
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#products" class="page-header__nav-link">
                                Продукты
                            </a>
                        </li>
                        <li class="page-header__nav-list-item">
                            <a href="#start-project" class="page-header__nav-link">
                                Связаться
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#callback-modal" class="page-header__callback-btn">
                    Обсудить проект
                </a>
            </div>
        </div>
        <div class="page-header__languages">
            <a href="#" class="active">
                Ru
            </a>
            <span class="page-header__languages-divider">
                /
            </span>

            <a href="#">
                En
            </a>
        </div>
        <button class="page-header__burger">

        </button>
    </div>
</header>