<section class="intro">
    <div class="intro__bg">
        <div class="intro__bg-parallax">


            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="intro__bg-card">
                            <picture>
                                <source srcset="/images/intro/1-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/intro/1.webp" alt="" class="intro__bg-card-image" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro__bg-card">
                            <picture>
                                <source srcset="/images/intro/2-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/intro/2.webp" alt="" class="intro__bg-card-image" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro__bg-card">
                            <picture>
                                <source srcset="/images/intro/3-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/intro/3.webp" alt="" class="intro__bg-card-image" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="intro__bg-card">
                            <picture>
                                <source srcset="/images/intro/4-mobile.webp" media="(max-width: 640px)" />
                                <img src="/images/intro/4.webp" alt="" class="intro__bg-card-image" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro__content">
        <div class="intro__top">
            <div class="intro__heading-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="intro__heading-slider-card">
                                Создаем IT проекты<br> любого масштаба
                                и&nbsp;сложности
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__heading-slider-card">
                                Создали AI-продукт для анализа и управления персоналом
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__heading-slider-card">
                                Собираем эффективные команды и быстро выводим на проект
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__heading-slider-card">
                                Воплощаем<br>
                                бизнес-идеи<br>
                                в&nbsp;цифровую реальность
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="intro__controls">
                <div class="intro__controls-progress">

                </div>
                <div class="intro__arrows-wrapper">
                    <div class="intro__controls-content">
                        <div class="intro__controls-pagination">

                        </div>
                        <div class="intro__controls-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="intro__controls-slider-card">
                                            Наша сила
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="intro__controls-slider-card">
                                            AI эксперты
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="intro__controls-slider-card">
                                            Аутсорс HR
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="intro__controls-slider-card">
                                            Лидеры рынка
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="intro__arrows">
                        <button class="intro__arrow intro__arrow--prev">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="intro__arrow intro__arrow--next">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__bottom">
            <div class="intro__main-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="intro__main-slider-card">
                                <ul class="intro__main-slider-card-list">
                                    <li class="intro__main-slider-card-list-item">
                                        Заботимся о каждой детали в IT-разработке и создании успешных команд.
                                    </li>
                                    <li class="intro__main-slider-card-list-item">
                                        Соединяем пожелания клиентов и компетенции разработчиков в единое целое
                                    </li>
                                    <li class="intro__main-slider-card-list-item">
                                        Все лидеры рынка (Яндекс, ВТБ, Альфа-Банк, Сбер) уже давно с нами
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__main-slider-card">
                                <ul class="intro__main-slider-card-list">
                                    <li class="intro__main-slider-card-list-item">
                                        Работали с искусственным интеллектом еще до того, как это стало мейнстримом.
                                    </li>
                                    <li class="intro__main-slider-card-list-item">
                                        Собственная продуктовая разработка HR Tech.
                                    </li>
                                    <li class="intro__main-slider-card-list-item">
                                        Создали свой уникальный AI-продукт, создадим и ваш.
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__main-slider-card">
                                <ul class="intro__main-slider-card-list">
                                    <li class="intro__main-slider-card-list-item">
                                        Первые, кто использует уникальную методику коммуникации в команде (PCM).
                                    </li>
                                    <li class="intro__main-slider-card-list-item">
                                        Адаптируем, мотивируем, обучаем персонал
                                        и экономим ваш HR-бюджет.
                                    </li>
                                    <li class="intro__main-slider-card-list-item">
                                        Подбираем «того самого» человека методом soft skill
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__main-slider-card">
                                <ul class="intro__main-slider-card-list">
                                    <li class="intro__main-slider-card-list-item">
                                        Создаем прототип MVP и прописываем техническое задание.
                                    </li>
                                    <li class="intro__main-slider-card-list-item">
                                        Составляем стратегию и собираем команду для запуска.
                                    </li>
                                    <li class="intro__main-slider-card-list-item">
                                        Упаковываем и выводим продукт на рынок, сокращая time to market
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="intro__numbers-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="intro__numbers-slider-card">
                                <ul class="intro__main-slider-card-numbers-list">
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                7
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                лет в бою за клиентские улыбки
                                            </div>
                                        </div>
                                    </li>
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                60+
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                успешно выполненных миссий
                                            </div>
                                        </div>
                                    </li>
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                250
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                IT-магистров уровня middle+
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__numbers-slider-card">
                                <ul class="intro__main-slider-card-numbers-list">
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                3
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                года работаем с AI
                                            </div>
                                        </div>
                                    </li>
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                120
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                нейроинструм&shy;ентов в наборе
                                            </div>
                                        </div>
                                    </li>
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                12
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                AI-волшебников в&nbsp;команде
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__numbers-slider-card">
                                <ul class="intro__main-slider-card-numbers-list">
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                50%
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                экономия
                                                на персонале
                                            </div>
                                        </div>
                                    </li>
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                2%
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                наших разработчиков решили сменить проект
                                            </div>
                                        </div>
                                    </li>
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                7
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                дней для поиска “звездных”
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__numbers-slider-card">
                                <ul class="intro__main-slider-card-numbers-list">
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                60+
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                моментов гордости за выполненные проекты
                                            </div>
                                        </div>
                                    </li>
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                50+
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                успешно выполненных
                                                миссий
                                            </div>
                                        </div>
                                    </li>
                                    <li class="intro__main-slider-card-numbers-list-item">
                                        <div class="intro__main-slider-card-numbers-card">
                                            <div class="intro__main-slider-card-numbers-card-amount">
                                                2%
                                            </div>
                                            <div class="intro__main-slider-card-numbers-card-text">
                                                текучка клиентов
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__navigation">
            <ul class="intro__navigation-list">
                <li class="intro__navigation-list-item">
                    <a href="#" class="intro__navigation-link">
                        <div class="intro__navigation-link-progress">

                        </div>
                        Наша сила
                    </a>
                </li>
                <li class="intro__navigation-list-item">
                    <a href="#" class="intro__navigation-link">
                        <div class="intro__navigation-link-progress">

                        </div>
                        AI эксперты
                    </a>
                </li>
                <li class="intro__navigation-list-item">
                    <a href="#" class="intro__navigation-link">
                        <div class="intro__navigation-link-progress">

                        </div>
                        Аутсорс HR
                    </a>
                </li>
                <li class="intro__navigation-list-item">
                    <a href="#" class="intro__navigation-link">
                        <div class="intro__navigation-link-progress">

                        </div>
                        Лидеры рынка
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>