<div class="modal js-modal" id="callback-modal" data-lenis-prevent="">
    <div class="modal__inner">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__callback">
            <h3 class="modal__heading">
                Обсудить проект
            </h3>
            <div class="modal__text">
                Оставьте заявку, наш менеджер свяжется с вами в ближайшее время
            </div>
            <form action="/" method="POST" class="modal__form">
                <div class="modal__form-fields">
                    <div class="modal__form-field">
                        <label class="modal__form-label">
                            <span class="modal__form-label-text">
                                ФИО
                            </span>
                            <input type="text" name="your-name" class="modal__form-input" placeholder="Введите ФИО"
                                required="">
                        </label>
                    </div>
                    <div class="modal__form-field">
                        <label class="modal__form-label">
                            <span class="modal__form-label-text">
                                Телефон
                            </span>
                            <input type="tel" name="your-phone" class="modal__form-input" placeholder="8 800 555-35-35"
                                required="">
                        </label>
                    </div>
                </div>
                <div class="modal__form-bottom-row">
                    <button class="modal__form-submit" type="submit">
                        Отправить
                    </button>
                    <div class="modal__form-policy">
                        <label class="modal__form-policy-checkbox">
                            <input type="checkbox" name="policy" value="Y" class="modal__form-policy-checkbox-input"
                                required="">
                            <span class="modal__form-policy-checkbox-mark">

                            </span>
                            <span class="modal__form-policy-checkbox-text">
                                Подтвердите согласие на обработку
                                <a href="#">персональных данных</a>
                            </span>

                        </label>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal js-modal" id="success-modal" data-lenis-prevent="">
    <div class="modal__inner">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__success">
            <h3 class="modal__success-heading">
                <b>Спасибо</b><br>
                Заявка отправлена
            </h3>
            <div class="modal__success-text">
                Наш менеджер свяжется с вами в ближайшее время
            </div>
            <button class="modal__success-btn">
                Вернутся на главную
            </button>
        </div>
    </div>
</div>
<div class="modal js-modal" id="error-modal" data-lenis-prevent="">
    <div class="modal__inner">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__success">
            <h3 class="modal__success-heading">
                <b>Ошибка</b><br>
                Заявка не отправлена
            </h3>
            <div class="modal__success-text">
                Попробуйте выполнить действие повторно
            </div>
            <a href="#" class="modal__success-btn">
                Повторить
            </a>
        </div>
    </div>
</div>
<div class="modal js-modal" id="case-modal" data-lenis-prevent="">
    <div class="modal__inner modal__inner--case">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close-gradient"></use>
            </svg>
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__case">
            <div class="modal__case-left">
                <img src="/images/modal-case.svg" alt="" class="modal__case-logo">
                <div class="modal__case-desc">
                    TUTU.RU — российский онлайн-сервис для организации путешествий. Позволяет покупать билеты на поезд,
                    самолёт и автобус, бронировать отели, туры и экскурсии
                </div>
                <div class="modal__case-bottom-wrapper">
                    <div class="modal__case-stack">
                        <h3 class="modal__case-stack-heading">
                            Стек технологий:
                        </h3>
                        <ul class="modal__case-tags-list">
                            <li class="modal__case-tags-list-item">
                                <div class="modal__case-tag">
                                    #Go
                                </div>
                            </li>
                            <li class="modal__case-tags-list-item">
                                <div class="modal__case-tag">
                                    #PHP
                                </div>
                            </li>
                            <li class="modal__case-tags-list-item">
                                <div class="modal__case-tag">
                                    #OpenShift.js
                                </div>
                            </li>
                            <li class="modal__case-tags-list-item">
                                <div class="modal__case-tag">
                                    #gRPC
                                </div>
                            </li>
                            <li class="modal__case-tags-list-item">
                                <div class="modal__case-tag">
                                    #Kafka
                                </div>
                            </li>
                            <li class="modal__case-tags-list-item">
                                <div class="modal__case-tag">
                                    #http API
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal__case-dates">
                        <h3 class="modal__case-dates-heading">
                            Срок реализации:
                        </h3>
                        <div class="modal__case-dates-value">
                            2022 — 2023
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__case-right">
                <h2 class="modal__case-main-title">
                    Теперь больше, чем просто бронь билетов:
                </h2>
                <div class="modal__case-text">
                    Запустили свой инфопортал для онлайн-сервиса бронирования билетов и увеличили конверсию брони
                    гостиниц x2 раз
                </div>
                <ul class="modal__case-stages-list">
                    <li class="modal__case-stages-list-item">
                        <div class="modal__case-stages-card">
                            <div class="modal__case-stages-card-top">
                                <h4 class="modal__case-stages-card-title">
                                    Задача:
                                    <img src="/images/modal-arrow-right.svg" alt=""
                                        class="modal__case-stages-card-arrow">
                                </h4>
                            </div>
                            <div class="modal__case-stages-card-content">
                                <ul class="modal__case-stages-card-list">
                                    <li class="modal__case-stages-card-list-item">
                                        Разработать сервис для публикации авторского и пользовательского контента для
                                        привлечения лидов в новое направление (бронь отелей)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="modal__case-stages-list-item">
                        <div class="modal__case-stages-card">
                            <div class="modal__case-stages-card-top">
                                <h4 class="modal__case-stages-card-title">
                                    что сделано
                                    <img src="/images/modal-arrow-right.svg" alt=""
                                        class="modal__case-stages-card-arrow">
                                </h4>
                            </div>
                            <div class="modal__case-stages-card-content">
                                <ul class="modal__case-stages-card-list">
                                    <li class="modal__case-stages-card-list-item">
                                        Запустили свежий Путеводитель (адаптивный, быстрый, соответствующий важным
                                        SEO-метрикам, эстетичный
                                        и удобный)
                                    </li>
                                    <li class="modal__case-stages-card-list-item">
                                        Создан и новый модуль User Generation Content с комментариями, дискуссиями,
                                        редактором и прочим
                                    </li>
                                    <li class="modal__case-stages-card-list-item">
                                        Сделана удобная и шустрая админка для редакторов, модераторов
                                        и контент-менеджеров
                                    </li>
                                    <li class="modal__case-stages-card-list-item">
                                        Улучшены контент-сервисы на основе фидбека от редакторов и пользователей
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="modal__case-stages-list-item">
                        <div class="modal__case-stages-card modal__case-stages-card--ok">
                            <div class="modal__case-stages-card-top">
                                <h4 class="modal__case-stages-card-title">
                                    Результаты
                                    <img src="/images/modal-ok.svg" alt="" class="modal__case-stages-card-arrow">
                                </h4>
                            </div>
                            <div class="modal__case-stages-card-content">
                                <ul class="modal__case-stages-card-list">
                                    <li class="modal__case-stages-card-list-item">
                                        Увеличился трафик из поисковых систем
                                    </li>
                                    <li class="modal__case-stages-card-list-item">
                                        Увеличилось кол-во бронирования гостиниц
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>