<section class="news">
    <div class="news__content">
        <h2 class="news__heading">
            Свежие новости<br>
            в WMT Group
        </h2>
        <div class="news__slider js-news-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="/images/news/1.webp" alt="" class="news__slider-card-image" loading="lazy">
                                <div class="news__slider-card-source">
                                    <img src="/images/news-sources/1.webp" alt="" class="news__slider-card-source-logo">
                                </div>
                            </div>
                            <div class="news__slider-card-date">
                                29 сентября 2023
                            </div>
                            <h3 class="news__slider-card-title">
                                Что такое промты для ChatGPT и где взять поставщиков «нейросотрудников»
                            </h3>
                            <div class="news__slider-card-read-more">
                                <div class="news__slider-card-read-more-text">
                                    Читать полностью
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="/images/news/2.webp" alt="" class="news__slider-card-image" loading="lazy">
                                <div class="news__slider-card-source">
                                    <img src="/images/news-sources/2.webp" alt="" class="news__slider-card-source-logo">
                                </div>
                            </div>
                            <div class="news__slider-card-date">
                                04 сентября 2023
                            </div>
                            <h3 class="news__slider-card-title">
                                Конфликты в ИТ-секторе. Избегать или использовать
                            </h3>
                            <div class="news__slider-card-read-more">
                                <div class="news__slider-card-read-more-text">
                                    Читать полностью
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="/images/news/3.webp" alt="" class="news__slider-card-image" loading="lazy">
                                <div class="news__slider-card-source">
                                    <img src="/images/news-sources/3.webp" alt="" class="news__slider-card-source-logo">
                                </div>
                            </div>
                            <div class="news__slider-card-date">
                                10 ноября 2023
                            </div>
                            <h3 class="news__slider-card-title">
                                Не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни
                            </h3>
                            <div class="news__slider-card-read-more">
                                <div class="news__slider-card-read-more-text">
                                    Читать полностью
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="/images/news/4.webp" alt="" class="news__slider-card-image" loading="lazy">
                                <div class="news__slider-card-source">
                                    <img src="/images/news-sources/4.webp" alt="" class="news__slider-card-source-logo">
                                </div>
                            </div>
                            <div class="news__slider-card-date">
                                10 ноября 2023
                            </div>
                            <h3 class="news__slider-card-title">
                                Не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни
                            </h3>
                            <div class="news__slider-card-read-more">
                                <div class="news__slider-card-read-more-text">
                                    Читать полностью
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="/images/news/5.webp" alt="" class="news__slider-card-image" loading="lazy">
                                <div class="news__slider-card-source">
                                    <img src="/images/news-sources/5.webp" alt="" class="news__slider-card-source-logo">
                                </div>
                            </div>
                            <div class="news__slider-card-date">
                                10 ноября 2023
                            </div>
                            <h3 class="news__slider-card-title">
                                Не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни
                            </h3>
                            <div class="news__slider-card-read-more">
                                <div class="news__slider-card-read-more-text">
                                    Читать полностью
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="news__slider-card">
                            <div class="news__slider-card-image-container">
                                <img src="/images/news/6.webp" alt="" class="news__slider-card-image" loading="lazy">
                                <div class="news__slider-card-source">
                                    <img src="/images/news-sources/6.webp" alt="" class="news__slider-card-source-logo">
                                </div>
                            </div>
                            <div class="news__slider-card-date">
                                10 ноября 2023
                            </div>
                            <h3 class="news__slider-card-title">
                                Не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни
                            </h3>
                            <div class="news__slider-card-read-more">
                                <div class="news__slider-card-read-more-text">
                                    Читать полностью
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>