<section class="reviews">
    <div class="reviews__content">
        <div class="reviews__top-row">
            <h2 class="reviews__heading">
                Отзывы
            </h2>
            <div class="reviews__large-text">
                Счастье клиентов — наш драйвер: их отзывы вдохновляют
            </div>
        </div>
        <div class="reviews__slider">
            <div class="reviews__thumbs">
                <ul class="reviews__thumbs-list">
                    <li class="reviews__thumbs-list-item">
                        <a href="#" class="reviews__thumbs-link active">
                            <div class="reviews__thumbs-link-photo-container">
                                <img src="/images/reviews/1.webp" alt="" class="reviews__thumbs-link-photo">
                            </div>
                        </a>
                    </li>
                    <li class="reviews__thumbs-list-item">
                        <a href="#" class="reviews__thumbs-link">
                            <div class="reviews__thumbs-link-photo-container">
                                <img src="/images/reviews/2.webp" alt="" class="reviews__thumbs-link-photo">
                            </div>
                        </a>
                    </li>
                    <li class="reviews__thumbs-list-item">
                        <a href="#" class="reviews__thumbs-link">
                            <div class="reviews__thumbs-link-photo-container">
                                <img src="/images/reviews/3.webp" alt="" class="reviews__thumbs-link-photo">
                            </div>
                        </a>
                    </li>
                    <li class="reviews__thumbs-list-item">
                        <a href="#" class="reviews__thumbs-link">
                            <div class="reviews__thumbs-link-photo-container">
                                <img src="/images/reviews/4.webp" alt="" class="reviews__thumbs-link-photo">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="reviews__slider-main">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-image-wrapper">
                                    <img src="/images/reviews/large.webp" alt="" class="reviews__slider-card-image">
                                </div>
                                <div class="reviews__slider-card-circle">

                                </div>
                                <div class="reviews__slider-card-content">
                                    <h4 class="reviews__slider-card-title">
                                        Олег Иванов
                                    </h4>
                                    <div class="reviews__slider-card-role">
                                        Директор KEPT
                                    </div>
                                    <div class="reviews__slider-card-text">
                                        Кто бы мог подумать, что переход от ERP Oracle к российской версии станет
                                        настолько интересным приключением! Это как смена надежного автомобиля на мощный
                                        российский внедорожник: на первый взгляд кажется смелым шагом, но в итоге
                                        приводит к великолепным результатам. Наши бизнес-процессы получили настоящий
                                        буст. Отметим увеличение эффективности, гибкость нашей системы, и конечно,
                                        великолепную поддержку WMT. Сейчас наш бизнес чувствует себя так же могуче, как
                                        наш новый внедорожник на дикой российской дороге!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-image-wrapper">
                                    <img src="/images/reviews/large.webp" alt="" class="reviews__slider-card-image">
                                </div>
                                <div class="reviews__slider-card-circle">

                                </div>
                                <div class="reviews__slider-card-content">
                                    <h4 class="reviews__slider-card-title">
                                        Олег Иванов
                                    </h4>
                                    <div class="reviews__slider-card-role">
                                        Директор KEPT
                                    </div>
                                    <div class="reviews__slider-card-text">
                                        Кто бы мог подумать, что переход от ERP Oracle к российской версии станет
                                        настолько интересным приключением! Это как смена надежного автомобиля на мощный
                                        российский внедорожник: на первый взгляд кажется смелым шагом, но в итоге
                                        приводит к великолепным результатам. Наши бизнес-процессы получили настоящий
                                        буст. Отметим увеличение эффективности, гибкость нашей системы, и конечно,
                                        великолепную поддержку WMT. Сейчас наш бизнес чувствует себя так же могуче, как
                                        наш новый внедорожник на дикой российской дороге!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-image-wrapper">
                                    <img src="/images/reviews/large.webp" alt="" class="reviews__slider-card-image">
                                </div>
                                <div class="reviews__slider-card-circle">

                                </div>
                                <div class="reviews__slider-card-content">
                                    <h4 class="reviews__slider-card-title">
                                        Олег Иванов
                                    </h4>
                                    <div class="reviews__slider-card-role">
                                        Директор KEPT
                                    </div>
                                    <div class="reviews__slider-card-text">
                                        Кто бы мог подумать, что переход от ERP Oracle к российской версии станет
                                        настолько интересным приключением! Это как смена надежного автомобиля на мощный
                                        российский внедорожник: на первый взгляд кажется смелым шагом, но в итоге
                                        приводит к великолепным результатам. Наши бизнес-процессы получили настоящий
                                        буст. Отметим увеличение эффективности, гибкость нашей системы, и конечно,
                                        великолепную поддержку WMT. Сейчас наш бизнес чувствует себя так же могуче, как
                                        наш новый внедорожник на дикой российской дороге!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-image-wrapper">
                                    <img src="/images/reviews/large.webp" alt="" class="reviews__slider-card-image">
                                </div>
                                <div class="reviews__slider-card-circle">

                                </div>
                                <div class="reviews__slider-card-content">
                                    <h4 class="reviews__slider-card-title">
                                        Олег Иванов
                                    </h4>
                                    <div class="reviews__slider-card-role">
                                        Директор KEPT
                                    </div>
                                    <div class="reviews__slider-card-text">
                                        Кто бы мог подумать, что переход от ERP Oracle к российской версии станет
                                        настолько интересным приключением! Это как смена надежного автомобиля на мощный
                                        российский внедорожник: на первый взгляд кажется смелым шагом, но в итоге
                                        приводит к великолепным результатам. Наши бизнес-процессы получили настоящий
                                        буст. Отметим увеличение эффективности, гибкость нашей системы, и конечно,
                                        великолепную поддержку WMT. Сейчас наш бизнес чувствует себя так же могуче, как
                                        наш новый внедорожник на дикой российской дороге!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>