<section class="services">
    <div class="services__content">
        <h2 class="services__heading">
            Вы всегда в курсе того,
            что происходит с проектом
            на каждом этапе
        </h2>
        <div class="services__tabs js-tabs">
            <div class="services__tabs-nav">
                <ul class="services__tabs-nav-list">
                    <li class="services__tabs-nav-list-item">
                        <a href="#" class="services__tabs-nav-link js-tabs-btn active" data-text="Заказная разработка">
                            <span class="services__tabs-nav-link-text">
                                Заказная разработка
                            </span>
                        </a>
                    </li>
                    <li class="services__tabs-nav-list-item">
                        <a href="#" class="services__tabs-nav-link js-tabs-btn" data-text="Аутсорс команды разработки">

                            <span class="services__tabs-nav-link-text">
                                Аутсорс команды разработки
                            </span>
                        </a>
                    </li>
                    <li class="services__tabs-nav-list-item">
                        <a href="#" class="services__tabs-nav-link js-tabs-btn" data-text="Продуктовая разработка">

                            <span class="services__tabs-nav-link-text">
                                Продуктовая разработка
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="services__tabs-items">
                <div class="services__tabs-item js-tabs-item active">
                    <div class="services__slider js-services-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            01
                                        </div>
                                        <h3 class="services__card-title">
                                            Индивидуально подходим к решению нестандартных задач
                                        </h3>
                                        <div class="services__card-text">
                                            Погружаемся в специфику, обсуждаем идею, предлагаем решение, разрабатываем
                                            стратегию и тактику
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            02
                                        </div>
                                        <h3 class="services__card-title">
                                            Гибкость и масштабируемость
                                        </h3>
                                        <div class="services__card-text">
                                            Клиент контролирует процесс разработки и вносит точечные корректировки.
                                            Слаженная командная работа для достижения максимальной эффективности
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            03
                                        </div>
                                        <h3 class="services__card-title">
                                            Бережно интегрируем ПО с существующими системами
                                        </h3>
                                        <div class="services__card-text">
                                            Обеспечиваем максимальную совместимость и эффективность работы
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            04
                                        </div>
                                        <h3 class="services__card-title">
                                            Не прощаемся с клиентами
                                        </h3>
                                        <div class="services__card-text">
                                            Проводим обучение для сотрудников, осуществляем техническую поддержку и
                                            обслуживание системы
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services__tabs-item js-tabs-item">
                    <div class="services__slider js-services-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            01
                                        </div>
                                        <h3 class="services__card-title">
                                            Индивидуально подходим к решению нестандартных задач
                                        </h3>
                                        <div class="services__card-text">
                                            Погружаемся в специфику, обсуждаем идею, предлагаем решение, разрабатываем
                                            стратегию и тактику
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            02
                                        </div>
                                        <h3 class="services__card-title">
                                            Гибкость и масштабируемость
                                        </h3>
                                        <div class="services__card-text">
                                            Клиент контролирует процесс разработки и вносит точечные корректировки.
                                            Слаженная командная работа для достижения максимальной эффективности
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            03
                                        </div>
                                        <h3 class="services__card-title">
                                            Бережно интегрируем ПО с существующими системами
                                        </h3>
                                        <div class="services__card-text">
                                            Обеспечиваем максимальную совместимость и эффективность работы
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            04
                                        </div>
                                        <h3 class="services__card-title">
                                            Не прощаемся с клиентами
                                        </h3>
                                        <div class="services__card-text">
                                            Проводим обучение для сотрудников, осуществляем техническую поддержку и
                                            обслуживание системы
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services__tabs-item js-tabs-item">
                    <div class="services__slider js-services-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            01
                                        </div>
                                        <h3 class="services__card-title">
                                            Индивидуально подходим к решению нестандартных задач
                                        </h3>
                                        <div class="services__card-text">
                                            Погружаемся в специфику, обсуждаем идею, предлагаем решение, разрабатываем
                                            стратегию и тактику
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            02
                                        </div>
                                        <h3 class="services__card-title">
                                            Гибкость и масштабируемость
                                        </h3>
                                        <div class="services__card-text">
                                            Клиент контролирует процесс разработки и вносит точечные корректировки.
                                            Слаженная командная работа для достижения максимальной эффективности
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            03
                                        </div>
                                        <h3 class="services__card-title">
                                            Бережно интегрируем ПО с существующими системами
                                        </h3>
                                        <div class="services__card-text">
                                            Обеспечиваем максимальную совместимость и эффективность работы
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="services__card">
                                        <div class="services__card-number">
                                            04
                                        </div>
                                        <h3 class="services__card-title">
                                            Не прощаемся с клиентами
                                        </h3>
                                        <div class="services__card-text">
                                            Проводим обучение для сотрудников, осуществляем техническую поддержку и
                                            обслуживание системы
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>