<section class="stack">
    <div class="stack__content">
        <h2 class="stack__heading">
            Используем стек технологий, который не теряет актуальности
        </h2>
        <div class="stack__row">
            <div class="stack__illustration">

            </div>
            <ul class="stack__list">
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Backend
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Java
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Python
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Go
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Ruby
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Node.js
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    .Net
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    C++
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    C#
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    PHP
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Apache
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Airflow
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Frontend
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    JavaScript
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Angular
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    ReactJS
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Vue.js
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Node.js
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    WebSockets
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Redux
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Mobile (iOS/Android)
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Swift
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Kotlin
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Flutter
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Objective-C
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    CoreGraphics
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    WebSockets
                                </div>
                            </li>


                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Аналитика
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Системные
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Бизнес
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    BI
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Big Data
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Управление
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Управление
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    ТехЛиды
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    ТехЛиды
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Тестирование
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Ручное
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Авто
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Нагрузочное
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Devops
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    DevOps
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Сопровождение
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    DBA
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Kubernetes
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    OpenShift
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Docker
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Docker
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    UX/UI
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Adobe
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Sketch
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Figma
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Готовые решения
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Oracle Siebel CRM
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    1С
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Bitrix
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            UX/UI Designer
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Sketch
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Figma
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Cross Platform
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Flutter
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Reaact Native
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Cloud
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    SberCloud
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    AWS
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    Azure
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="stack__list-item">
                    <div class="stack__card">
                        <h3 class="stack__card-title">
                            Базы данных
                        </h3>
                        <ul class="stack__card-list">
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    MS SQL
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    MongoDB
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    BigQuery
                                </div>
                            </li>
                            <li class="stack__card-list-item">
                                <div class="stack__tag">
                                    PostgreSQL
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <button class="stack__show-all">
                <span class="stack__show-all-text">
                    Показать все
                </span>
                <span class="stack__show-all-text">
                    Cкрыть
                </span>
            </button>
        </div>
    </div>
</section>