<section class="start-project" id="start-project">
    <div class="start-project__content">

        <div class="start-project__col">
            <div class="start-project__text">
                Оставьте заявку на сотрудничество и мы свяжемся с вами в ближайшее время
            </div>
            <img src="/images/circles.svg" alt="" class="start-project__circles">
        </div>
        <div class="start-project__col">
            <h2 class="start-project__heading">
                <b>Начать проект</b> с WMT GROUP
            </h2>
            <form action="/" method="POST" class="start-project__form">
                <div class="start-project__form-fields">
                    <div class="start-project__form-field">
                        <div class="start-project__form-input-wrapper">
                            <input type="text" name="your-name" class="start-project__form-input" required=""
                                placeholder="Введите ФИО">
                        </div>
                    </div>
                    <div class="start-project__form-field">
                        <div class="start-project__form-input-wrapper">
                            <input type="tel" name="your-phone" class="start-project__form-input" required=""
                                placeholder="+ 7 800 555-35-35">
                        </div>
                    </div>
                </div>
                <div class="start-project__form-policy">
                    <label class="start-project__form-policy-checkbox">
                        <input type="checkbox" class="start-project__form-policy-checkbox-input" required="">
                        <span class="start-project__form-policy-checkbox-mark">

                        </span>
                        <span class="start-project__form-policy-checkbox-text">
                            Подтвердите согласие на обработку<br> <a href="#">персональных данных</a>
                        </span>
                    </label>
                </div>
                <button class="start-project__form-submit" type="submit">
                    Отправить
                    <span></span>
                </button>
            </form>
        </div>

    </div>
</section>