.approach {
  @include blockWrapper;
  padding-top: 11rem;
  padding-bottom: 6rem;
  margin-bottom: 6rem;

  @include breakpoint(mobile) {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 6rem;
  }
}

.approach__content {
  @include blockContent;
}

.approach__top-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1.6rem;
  align-items: flex-start;
  margin-bottom: 7.6rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4rem;
    margin-bottom: 3rem;
  }
}

.approach__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 110%;
  max-width: 40rem;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 115%;
    max-width: 17rem;
  }
}

.approach__text {
  font-style: normal;
  font-weight: 300;
  font-size: 3.6rem;
  text-transform: uppercase;
  line-height: 125%;
  position: relative;
  z-index: 1;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 125%;
  }

  @include breakpointMF(small-tablet) {
    &::before {
      content: "";
      z-index: -1;
      pointer-events: none;
      right: 100%;
      top: 0;
      width: 12rem;
      height: 9.7rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../images/quote.svg");
      margin-right: 4.7rem;
      position: absolute;
    }
  }

  b {
    font-weight: inherit;
    background: linear-gradient(92.41deg, #6a1ab9 4.72%, #eb885a 94.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.approach__slider {
  .swiper {
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: 51.6rem;
    margin-right: 1.6rem;

    @include breakpoint(mobile) {
      margin-right: 1.2rem;
      width: 30rem;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.approach__slider-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(211.94deg, #fbf6e0 7.26%, #fdf2fd 95.71%);
  padding: 4rem;
  overflow: hidden;
  flex-grow: 1;
  gap: 4rem;

  @include breakpoint(mobile) {
    padding: 2rem;
    gap: 2rem;
  }
}

.approach__slider-card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include breakpoint(mobile) {
    gap: 1.7rem;
  }
}

.approach__slider-card-title {
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 125%;
  text-transform: uppercase;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 125%;
  }
}

.approach__slider-card-text {
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 135%;

  @include breakpoint(mobile) {
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 100%;
  }
}

.approach__slider-card-image {
  width: 100%;
  height: auto;
}

.approach__slider-card-image-wrapper {
  display: block;

  &:first-child {
    margin-bottom: auto;
    margin-top: -2rem;
  }
  &:last-child {
    margin-top: auto;
    margin-bottom: -2rem;
  }
}
